<section class="shopping-area gray-bg pt-50 pb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 order-lg-2 mb-30">
                   
                </div>
                <div class="col-lg-3">
                    <!-- shopping area title -->
                    <div class="sidebar-area-title mb-30">
                            <a data-toggle="tooltip" title="LAPAKKITO" href="#"><img src="{% static 'assets/img/logo-footer.png'%}" alt=""></a>
                    </div>
                    <div class="shopping-left-side mb-30">
                        <!-- category sidebar -->
                        <div class="single-layout">
                            <div class="layout-title">
                                <h6>Category</h6>
                            </div>
                            <ul class="lay-out-list">
                                <li><a href="#"><i class="fas fa-angle-double-right"></i>Category 01 <span>(4)</span></a></li>
                                <li><a href="#"><i class="fas fa-angle-double-right"></i>Category 02 <span>(6)</span></a></li>
                                <li><a href="#"><i class="fas fa-angle-double-right"></i>Category 03 <span>(2)</span></a></li>
                            </ul>
                        </div>
                        <!-- price ranger -->
                        
                        <!-- manufacture -->
                        <div class="single-layout">
                            <div class="layout-title">
                                <h6>Manufacturer</h6>
                            </div>
                            <ul class="lay-out-list">
                                <li><a href="#"><i class="fas fa-angle-double-right"></i>Adidas<span>(4)</span></a></li>
                                <li><a href="#"><i class="fas fa-angle-double-right"></i>Chanel<span>(6)</span></a></li>
                                <li><a href="#"><i class="fas fa-angle-double-right"></i>DKNY<span>(2)</span></a></li>
                                <li><a href="#"><i class="fas fa-angle-double-right"></i>Dolce <span>(5)</span></a></li>
                                <li><a href="#"><i class="fas fa-angle-double-right"></i>Gabbana <span>(3)</span></a></li>
                                <li><a href="#"><i class="fas fa-angle-double-right"></i>Nike <span>(0)</span></a></li>
                                <li><a href="#"><i class="fas fa-angle-double-right"></i>Vogue  <span>(1)</span></a></li>
                            </ul>
                        </div>
                        <!-- sidebar color -->
                        <div class="single-layout">
                            <div class="layout-title">
                                <h6>Color</h6>
                            </div>
                            <ul class="lay-out-list">
                                <li><a href="#"><i class="fas fa-angle-double-right"></i>Black<span>(4)</span></a></li>
                                <li><a href="#"><i class="fas fa-angle-double-right"></i>Blue<span>(6)</span></a></li>
                                <li><a href="#"><i class="fas fa-angle-double-right"></i>Brown<span>(2)</span></a></li>
                                <li><a href="#"><i class="fas fa-angle-double-right"></i>Pink <span>(5)</span></a></li>
                                <li><a href="#"><i class="fas fa-angle-double-right"></i>Red <span>(3)</span></a></li>
                                <li><a href="#"><i class="fas fa-angle-double-right"></i>White <span>(0)</span></a></li>
                                <li><a href="#"><i class="fas fa-angle-double-right"></i>Yellow  <span>(1)</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="side-bar-compare">
                        <div class="sidebar-area-title">
                            <h6>Compare Products </h6>
                        </div>
                        <span>You have no items to compare.</span>
                    </div>
                    <div class="side-bar-tag">
                        <div class="sidebar-area-title">
                            <h6>Popular Tags</h6>
                        </div>
                        <ul class="tag-list mb-20 mt-20">
                            <li><a href="#">Clothing</a></li>
                            <li><a href="#">accessories</a></li>
                            <li><a href="#">Good</a></li>
                            <li><a href="#">Footwear</a></li>
                            <li><a href="#">Fashion</a></li>
                            <li><a href="#">Kid</a></li>
                            <li><a href="#">Men</a></li>
                            <li><a href="#">women</a></li>
                        </ul>
                        <div class="tag-action">
                            <a href="#" class="btn">View All Tag</a>
                        </div>
                    </div>
                    <div class="banner-img mt-30 mb-30">
                        <a href="shop.html"><img src="assets/img/banner/banner-left.jpg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </section>